<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>566484013540-8htb6qgc4k58383oasrthns09dlkr4el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566484013540-8htb6qgc4k58383oasrthns09dlkr4el</string>
	<key>API_KEY</key>
	<string>AIzaSyBUg9KE1bRtKyeS28B0hPRqHKe1ae9aC2w</string>
	<key>GCM_SENDER_ID</key>
	<string>566484013540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>satish.SlackFirebase</string>
	<key>PROJECT_ID</key>
	<string>slackfirebase-442fc</string>
	<key>STORAGE_BUCKET</key>
	<string>slackfirebase-442fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566484013540:ios:7e851b452cd58f6c</string>
	<key>DATABASE_URL</key>
	<string>https://slackfirebase-442fc.firebaseio.com</string>
</dict>
</plist>